{:paths ["."]
 :deps {org.clojure/clojure {:mvn/version "1.12.2"}
        integrant/integrant {:mvn/version "1.0.0"}
        org.duct-framework/module.cljs {:mvn/version "0.5.2"}
        org.duct-framework/module.logging {:mvn/version "0.6.6"}
        org.duct-framework/module.web {:mvn/version "0.12.13"}
        org.duct-framework/module.sql {:mvn/version "0.8.1"}}}
