.hero .title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-size: 126px;
}

.hero .subtitle {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 26px;
  margin-top: -15px;
  margin-bottom: 0;
}

.hero .title .logo {
  width: 92px;
  height: 92px;
}

.hero .hero-body {
  background: #292929;
}

.nav-buttons {
  margin-top: -22px;
}

.is-size-4 {
  font-size: 1.55rem !important;
}

.is-size-5 {
  font-size: 1.35rem !important;
}

.is-size-6 {
  font-size: 1.1rem !important;
}

section.section {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

p {
  font-family: "Open Sans", sans-serif;
  padding: 0.1rem 0;
}

pre.highlight {
  padding: 0;
  margin: 1rem 0;
  background: transparent;
  margin-bottom: 20px;
}

pre.highlight code {
  border-radius: 10px;
  background: #292929;
  padding: 15px;
}
