body {
  background: #14161a;
  font-family: "Open Sans", sans-serif;
  padding-left: 17rem;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  margin: 0;
  background: #292929;
  width: 17rem;
}

#header h1 {
  font-family: "Bebas Neue", sans-serif;
  color: white;
  font-size: 56px;
  background-image: url(../logo.svg);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 0 10px;
  padding-left: 48px;
  margin: 0.3rem 0.6rem 0 0.6rem;
}

#header .details, #toctitle {
  display: none;
}

#header ul {
  padding: 0 1rem;
  margin: 0;
}

#header ul ul {
  padding-left: 1rem;
}

#header ul li {
  display: block;
  margin: 0.3rem 0;
}

#header ul a {
  color: #ddd;
  text-decoration: none;
}

#header ul a:hover {
  color: #93dd56;
}

#content {
  margin: 0 auto;
  max-width: 62.5em;
  padding-left: 0.9em;
  padding-right: 0.9em;
  font-size: 13pt;
  color: #bbc1cf;
}

#content h2 {
  font-size: 34pt;
  font-weight: 300;
  color: white;
  margin: 3rem 0 1rem 0;
  padding: 0;
}

#content h3 {
  font-size: 24pt;
  font-weight: normal;
  color: #ddd;
}

#content .sect1:first-child h2 {
  margin-top: 0;
}

pre.CodeRay.highlight {
  font-family: JetBrains Mono, monospace;
  background: #292929;
  border-radius: 5px;
  border: 1px solid #666;
  padding: 1rem;
}

p {
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

a {
  color: #93dd56;
}

.concise-index ul {
  columns: 19em;
  margin: 0;
  font-size: 90%;
}
.concise-index li {
  display: block;
}
.concise-index li p {
  margin: 0;
}
.components h3 {
  margin-top: 2em;
}
