:root {
  --sidebar-width: 15rem;
  --sidebar-text-color: #e6e6e6;
  --content-background: #14161a;
  --content-text-color: #bbc1cf;
  --content-h1-color: white;
  --content-h2-color: white;
  --content-h3-color: #eee;
  --header-background: #292929;
  --header-text-color: white;
  --header-icon-color: white;
  --code-text-color: white;
  --pre-background: #292929;
  --pre-border-color: #555;
  --pre-header-background: #555;
  --pre-header-text-color: #f2f2f2;
  --strong-text-color: #ccd1df;
  --link-text-color: #93dd56;
  --kbd-border-color: #889;
  --kbd-text-color: #eee;
  --list-bullet-color: white;
  --warning-icon-color: #ffdd55;
  --note-icon-color: #33aaff;
  --admonition-text-color: #dde1ef;
  --admonition-border-color: #777;
  --component-dependency-color: #ccc;
}

body {
  background: var(--content-background);
  font-family: "Open Sans", sans-serif;
  padding-left: var(--sidebar-width);
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  margin: 0;
  background: var(--header-background);
  width: var(--sidebar-width);
  font-size: 11pt;
  line-height: 1.6;
}

#header h1 {
  font-family: "Bebas Neue", sans-serif;
  color: var(--header-text-color);
  font-size: 48px;
  background-image: url(../logo.svg);
  background-size: 34px;
  background-repeat: no-repeat;
  background-position: 0 18px;
  margin: 0 0 -0.8rem 1rem;
}

#header h1 a {
  color: var(--header-text-color);
  text-decoration: none;
  padding-left: 44px;
}

#header .details, #toctitle {
  display: none;
}

#header ul {
  padding: 0 0 0 1rem;
  margin: 0;
}

#header ul ul {
  padding-left: 1rem;
}

#header ul li {
  display: block;
  margin: 0.3rem 0;
}

#header ul a, .concise-index ul a {
  color: var(--sidebar-text-color);
  text-decoration: none;
}

#header ul a:hover, .concise-index ul a:hover {
  color: var(--link-text-color);
}

#header .menu-icon {
  display: none;
}

#content {
  margin: 0 auto;
  max-width: 55rem;
  padding: 0 1rem 0 1rem;
  font-size: 13pt;
  color: var(--content-text-color);
}

#content h1 {
  font-size: 38pt;
  font-weight: 400;
  color: var(--content-h1-color);
  margin: 0.5rem 0 0.5em 0;
  line-height: 1.1;
  padding: 0;
}

#content h2 {
  font-size: 30pt;
  font-weight: 300;
  color: var(--content-h2-color);
  margin: 0 0 1rem 0;
  padding: 0;
}

#content h3 {
  font-size: 24pt;
  font-weight: 300;
  padding: 1.5rem 0 1rem 0;
  margin: 0;
  color: var(--content-h3-color);
}

#content .sect1 ~ .sect1 h2 {
  margin-top: 3.5rem;
}

#content .sect2 ~ .sect2 h3 {
  padding-top: 2.5rem;
}

@media screen and (width <= 768px) {
  body {
    padding-left: 0;
  }

  #header #toc {
    display: none;
  }

  #header #toc > ul {
    column-width: 14em;
    margin-bottom: 1em;
  }

  #header {
    width: 100%;
    height: 48px;
    border-right: none;
    border-bottom: 1px solid var(--content-background);
  }

  #header h1 {
    background-size: 24px;
    background-position: 8px 11px;
    font-size: 32px;
    margin: 0;
    padding: 0;
    width: 100px;
  }

  #header h1 a {
    padding-left: 44px;
  }

  #header .menu-icon {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: var(--header-icon-color);
    display: block;
    float: right;
    margin: 5px 10px 0 0;
  }

  #header .menu-icon:before {
    content: '\f0c9';
  }

  #header.is-open {
    height: auto;
    max-height: 100%;
  }

  #header.is-open #toc {
    display: block;
    height: 100%;
    overflow: scroll;
  }

  #header.is-open .menu-icon:before {
    content: '\f00d';
  }

  #content {
    margin-top: 54px;
  }

  pre.highlight code {
    font-size: 11pt;
  }
}

code {
  font-family: JetBrains Mono, monospace;
  font-size: 12pt;
}

p code, .admonitionblock code, .hdlist code {
  color: var(--code-text-color);
}

strong {
  color: var(--strong-text-color);
}

.admonitionblock code {
  font-size: 90%;
}

pre.highlight {
  background: var(--pre-background);
  border-radius: 5px;
  border: 1px solid var(--pre-border-color);
  padding: 0.5rem;
  margin: 2rem 0 2rem 0;
  overflow: scroll;
}

pre.highlight code.hljs {
  background: transparent;
}

.listingblock .title {
  font-size: 10pt;
  margin: 1rem 0 0 0;
  background: var(--pre-header-background);
  color: var(--pre-header-text-color);
  display: inline-block;
  padding: 0.1rem 0.5rem;
  border-radius: 3px 3px 0 0;
}

.title + .content pre.highlight {
  margin-top: 0;
  border-radius: 0 5px 5px 5px;
}

p {
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  margin-bottom: 1rem;
}

a {
  color: var(--link-text-color);
}

kbd {
  border: 1px solid var(--kbd-border-color);
  border-radius: 4px;
  box-shadow: 1px 1px 0 var(--kbd-border-color);
  padding: 1px 4px;
  margin: 0px 3px;
  color: var(--kbd-text-color);
  font-size: 12pt;
}

.admonitionblock {
  margin: 1.5rem 0 1.5rem 0;
}

.admonitionblock .icon:before {
  font-family: FontAwesome;
  font-size: 24pt;
  display: block;
  vertical-align: center;
  text-align: center;
  width: 2rem;
}

.admonitionblock .icon {
  border-right: 1px solid var(--admonition-border-color);
  padding-right: 1rem;
}

.admonitionblock .icon .title {
  display: none;
}

.admonitionblock .content {
  padding-left: 1rem;
  font-size: 90%;
  color: var(--admonition-text-color);
}

.warning .icon:before, .important .icon:before {
  color: var(--warning-icon-color);
  content: '\f071';
}

.note .icon:before, .tip .icon:before {
  color: var(--note-icon-color);
  content: '\f05a';
}

.hdlist, .ulist {
  margin: 1.2rem 0 1.2rem 0.5em;
}

.hdlist td {
  padding-right: 1rem;
}

.hdlist p, .ulist p {
  margin: 0;
}

.ulist ul li {
  margin: 0.2em 0 0.2em 0;
}

.ulist ul li::marker {
  color: var(--list-bullet-color);
}

.concise-index {
  margin-bottom: 1rem;
}

.concise-index .title {
  display: none;
}

.concise-index .ulist {
  margin: 0;
}

.concise-index ul {
  column-width: 13rem;
  column-gap: 1rem;
  margin: 0;
  padding: 0;
  font-size: 11pt;
}

.concise-index li {
  display: block;
}

.concise-index li p {
  margin: 0;
}

#content .components h3 {
  margin: 2em 0 0 0;
  padding: 0;
}

#content .components h3 + .paragraph {
  color: var(--component-dependency-color);
  margin-top: -0.3em;
}

#content .components h3 + .paragraph code {
  color: var(--component-dependency-color);
  font-size: 10pt;
}
