body {
  background: #14161a;
  color: #abb1bf;
  font-family: "Open Sans", sans-serif;
  padding-left: 15em;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  margin: 0;
  background: #292929;
  width: 15em;
}

#header ul li {
  display: block;
}

#content {
  margin: 0 auto;
  max-width: 62.5em;
  padding-left: 0.9em;
  padding-right: 0.9em;
}

pre.CodeRay.highlight {
  background: #292929;
  border-radius: 5px;
  border: 1px solid #666;
  padding: 5px;
}

a {
  color: #93dd56;
}

.concise-index ul {
  columns: 19em;
  margin: 0;
  font-size: 90%;
}
.concise-index li {
  display: block;
}
.concise-index li p {
  margin: 0;
}
.components h3 {
  margin-top: 2em;
}
